


// Page Template
.featured-img {
  margin-bottom: 3rem;
}

.page.no-sidebars {
  max-width: 120rem;
  margin: 0 auto;
}



// Page with sidebars

.with-sidebar {
  display: flex;
  justify-content: space-between;

  .page-content {
    width: 60%;
    margin-right: 5rem;

    p.content-class {
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
    }

    .featured-img {
      height: 500px;
      width: 100%;
      margin-top: 3rem;
    }
  }

}




// Sidebar
.sidebar {
  width: 350px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: var(--lightGray);
    left: -20%;
    top: 0;

  }


  li {
    list-style-type: disc;

    a {
      color: black;
      font-size: 1.5rem;
    }
  }
  
  .widget {
    margin-bottom: 4rem; 
    list-style-type: disc;

    h4 {
      text-decoration: underline;
    }

    .sidebar-classes-list {
      display:list-item;
      list-style-type: outside;

      .sidebar-class {
        list-style-type: outside;

        li {
          list-style-type: disc;
        }

        .class-content {
          flex: 0 0 calc(70% - 2em);
          list-style-type: disc;

          a {
            font-weight: normal;
          }
          
          // unknown margin?
          p {
            margin: 0;
          }
        }
      }
    }
  }
}






