// --- Utilities ---


// Classes (names to serve a particular purpose)
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary);
}

.section {
  padding: 5rem 0;
}

.container {
  max-width: 120rem;
}

// Buttons
.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  text-align: center;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: var(--promptFont);
}

.buttonRed {
  background-color: var(--primary);
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: lighten(#b13333, 3%); 
  }
}

.buttonWhiteBorder {
  background-color: var(--primary);
  border: 2px solid white;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: lighten(#b13333, 3%); 
  }
}